{% extends 'generics/base.html' %}
{% load static %}

{% block title %}История Казанской церкви{% endblock %}

{% block meta %}
  <meta name="description" content="Познакомьтесь с историей Казанской церкви, её основателями, важными событиями и значением для школьного сообщества.">
  <meta name="keywords" content="Казанская церковь, история, школа, события, основатели, духовное наследие">
  <meta property="og:title" content="История Казанской церкви — Троицкая Православная школа">
  <meta property="og:description" content="Познакомьтесь с историей Казанской церкви, её основателями, важными событиями и значением для школьного сообщества.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock %}

{% block content %}
<div class="history">
  <div class="history-top">
    <div class="container">
      <h2 class="generic-subtitle">
        <a href="{% url 'page_type_b' 9 %}" class="generic-breadcrumb generic-subtitle">О нас</a> | <a href="{% url 'page_school_information_main' %}" class="generic-breadcrumb generic-subtitle">Информация о школе</a> | История Казанской церкви
      </h2>

      <div class="history-top-wrap">
        <div class="history-top-left">
          <h1 class="generic-title">
            {{ current_page_info.title }}
          </h1>
          <h2 class="generic-subtitle">
            {{ current_page_info.subtitle }}
          </h2>
        </div>
        <div class="history-top-right">
          <img src="{{ current_page_info.image.url }}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container about-school-page-content">
    {{ current_page_info.content|safe|linebreaksbr }}
  </div>
</div>
{% endblock %}