{% extends 'generics/base.html' %}
{% load static %}

{% block title %}Алгоритм поступления{% endblock %}

{% block meta %}
  <meta name="description" content="Алгоритм поступления в Троицкую Православную школу. {{ current_page_info.title|truncatewords:25 }}">
  <meta name="keywords" content="Троицкая Православная школа, поступление, алгоритм, {{ current_page_info.title }}">
  <meta property="og:title" content="Алгоритм поступления — Троицкая Православная школа">
  <meta property="og:description" content="{{ current_page_info.title|truncatewords:25 }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock %}

{% block content %}

<div class="administrative">
  <div class="container">
    <h2 class="generic-subtitle">
      <a href="{% url 'page_type_b' 9 %}" class="generic-breadcrumb generic-subtitle">О нас</a> | Алгоритм поступления
    </h2>

    <div class="administrative-content">
      <div class="administrative-names">
        <a href="{% url 'page_school_information_main' %}" class="administrative-name">
          <span>I.</span>

          <span>Информация о школе</span>
        </a>
        <a href="{% url 'page_school_information_detail' 4 %}" class="administrative-name">
          <span>II.</span>

          <span>Поступление в 1 класс</span>
        </a>
        <a href="{% url 'page_school_information_detail' 5 %}" class="administrative-name">
          <span>III.</span>

          <span>Поступление в 2-11 класс</span>
        </a>
      </div>

      <div class="administrative-list">
        <p class="about-school-page-content">
          {{ current_page_info.title }}
        </p>
        <div class="append-image">
          <img src="{{ current_page_info.image.url }}" alt="">
        </div>
        <div class="append-steps">
          {% for step in steps %}
          <div class="append-step {% if not step.text %}centered{% endif %}">
            <p class="append-step-title">{{ step.title }}</p>
            {% if step.text %}
            <p class="append-step-text">{{ step.text }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}