{% extends 'generics/base.html' %}
{% load static %}

{% block title %} {{ current_page_info.title }} {% endblock %}

{% block meta %}
  <meta name="description" content="{{ current_page_info.title }} — информация для учащихся Троицкой Православной школы. {{ current_page_info.description|truncatewords:25 }}">
  <meta name="keywords" content="Троицкая Православная школа, учащимся, информация, {{ current_page_info.title }}">
  <meta property="og:title" content="{{ current_page_info.title }} — Троицкая Православная школа">
  <meta property="og:description" content="{{ current_page_info.description|truncatewords:25 }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
{% endblock %}

{% block content %}

  <div class="about-school">
    <div class="about-school-hero">
      <div class="about-school-hero-image-wrap">
        <img src="{{ current_page_info.image.url }}" alt="" class="about-school-hero-image">
      </div>

      <div class="container">
        <h1 class="about-school-hero-title no-limit">
          {{ current_page_info.title }}
        </h1>
      </div>
    </div>

    <div class="container">
      <h2 class="generic-subtitle">
        <a href="{% url 'page_type_b' 11 %}" class="generic-breadcrumb generic-subtitle">Учащимся</a> | {{ current_page_info.title }}
      </h2>
    </div>

    <div class="about-school-container">
      <div class="container about-school-page-content">
        {{ current_page_info.description|safe|linebreaksbr }}
      </div>

      <div class="container attestation-link-list">
        {% for l in links %}
        <a href="{{ l.url }}" class="attestation-link-item">
          <img src="{% static 'assets/marka.png' %}" alt="">
          {{ l.name|linebreaksbr }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}