{% extends 'generics/base.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="administrative" style="margin-top: 20px; display: flex; justify-content: center;">
  <div class="container">
    <h2 class="generic-subtitle">
      <a href="{% url 'page_type_b' 9 %}" class="generic-breadcrumb generic-subtitle">О нас</a> |  Контакты
    </h2>
    <h1 class="generic-title">
      Контакты 
    </h1>

    {% include './partials/_contacts.html' with with_sidebar=False %}
  </div>
</div>
{% endblock %}