{% extends 'generics/base.html' %}
{% load static %}

{% block title %} {{ current_page_info.page_title }} {% endblock %}

{% block content %}
<div class="container">
  <h2 class="generic-subtitle">
    {% if current_page_info.path %}
      {% if current_page_info.category %}{% if current_page_info.category.link %}<a class="generic-breadcrumb generic-subtitle" href="{{ current_page_info.category.link }}">{{ current_page_info.category }}</a>{% else %}{{ current_page_info.category }}{% endif %} |{% endif %} {{ current_page_info.path }}
    {% else %}
      {% if current_page_info.category %}{% if current_page_info.category.link %}<a class="generic-breadcrumb generic-subtitle" href="{{ current_page_info.category.link }}">{{ current_page_info.category }}</a>{% else %}{{ current_page_info.category }}{% endif %} |{% endif %} {{ current_page_info.page_title }}
    {% endif %}
  </h2>

  {% if current_page_info.paragraphs.all|length > 1 %}
  <div class="bus-schedule-buttons" style="display: flex; flex-wrap: wrap;">
    {% for par in current_page_info.paragraphs.all %}
    <a href="#{{ par.title }}" class="generic-category-item" style="width: auto; padding: 8px 20px;">{{ par.title }}</a>
    {% endfor %}
  </div>
  {% endif %}

  <div class="type-a-paragraphs">
    {% for par in current_page_info.paragraphs.all %}
    <div class="type-a-paragraph" style="margin-top: 30px;">
      <h2 class="bus-schedule-title type-a-paragraph-title" style="color: #4F5F4D; margin-bottom: 31px;" id="{{ par.title }}">{{ par.title }}</h2>
      <div class="type-a-paragraph-content about-school-page-content" style="font-weight: 400;">
        {{ par.description|safe|linebreaksbr }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}